@config "../tailwind.config.ts"

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: Satoshi;
  src: url(../public/fonts/Satoshi/VariableWght.ttf);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
